[2016-05-31 21:52] lgierth opened #4 "Webpack dependencies error"
[code]

[2016-05-31 21:56] lgierth commented on #4
`npm install libp2p-webrtc-star` worked

[2016-05-31 22:09] dignifiedquire commented on #4
pretty much all of our code requires npm@3 that will fix your issue?

[2016-05-31 22:20] lgierth commented on #4
all good! -- that was pretty non-obvious though! :)

[2016-06-01 00:23] diasdavid commented on #4
glad that it got solved quickly :)

[2016-06-01 00:23] #4 closed

[2016-06-01 11:10] diasdavid opened #5 "Avoid the race condition between discovery and signalling"
We announce a peer for discovery and then do the signalling, if the peer disappears meanwhile (race condition), I’m not telling webrtc-star that the conn will fail

[2016-08-08 00:31] mikeal opened #9 "Support "rooms" rather than just a single global swarm."

[2016-08-08 00:32] mikeal opened #10 "Support options to be passed to SimplePeer"
Currently can't use stream or wrtc which is problematic :(

[2016-08-08 00:39] diasdavid commented on #10
AFAIK `wrtc` doesn't work in Node.js 4 or above, once that is there, this module would pick the right implementation itself without the need to pass the options.

However, we do can add the options to the constructor. What do you mean by `stream`?

[2016-08-08 01:41] mikeal commented on #10
SimplePeer takes a MediaStream argument as "stream."

On Sunday, August 7, 2016, David Dias <notifications@github.com> wrote:

[2016-10-16 00:40] interfect opened #24 "Immediately closes websocket connections"
I'm trying to use this with `js-ipfs` in a browser.  I set up a node in the browser and do something like `node.swarm.connect("/ip4/10.0.0.2/tcp/9090/ws/ipfs/QmcgpsyWgH8Y8ajJz1Cu72KnS5uo2Aa2LpzU7kinSoooo1", console.log)`, to the machine running `star-sig`.

Wireshark shows the browser oprning a TCP connection to the `star-sig` machine, which is accepted, and sending its initial GET request. Howeve

[2016-10-16 05:47] interfect commented on #24
If I set up a websocket server with `ws` instead, I can get a response sent:

[code]

So something is wrong inside `js-libp2p-webrtc-star` or `hapi`.

[2016-10-16 21:20] interfect commented on #24
It looks like the problem is that I'm actually just telling it to dial a WebSockets multiaddr directly, with the Websockets protocol.

I really nee do do something like:

[code]

But that just tells me that there's

[code]

[2016-10-18 02:11] interfect commented on #24
I have resolved this issue.

I need to make sure that the IPFS node has an address like `/ip4/10.0.0.2/tcp/9090/ws/ipfs/QmcgpsyWgH8Y8ajJz1Cu72KnS5uo2Aa2LpzU7kinSoooo1`, with its own IPFS peer ID, in its list of addresses in its `config` object, before it tries to go online. If it does not have at least one such address, the `libp2p-webrtc-star` transport is not added to the IPFS node, and then it

[2016-10-18 02:11] #24 closed

[2016-11-15 14:11] VictorBjelkholm opened #36 "Secure connection in signaling server"
Connecting to the signaling server from an https page will emit a error in chrome currently, since the server is not secure. See error:

![](https://ipfs.io/ipfs/QmPSFKD6wbf9UZza44hRrSiwqzNFDsPBoQeVGdRwcUhmua)

[2016-11-17 13:57] diasdavid commented on #36
yeah, we might just ship the sig server with a dumb cert just to make browsers happy.

I do want to have this quarter a sig server that is always on for everyone

[2016-11-25 14:31] diasdavid commented on #36
For ref: https://github.com/ipfs/js-ipfs/issues/614

[2016-11-25 14:34] diasdavid opened #38 "Get a signalling server at a static IP to make it easy for to test js-ipfs for quick hacks"
Ideally, it would be at `https://demo.signal.libp2p.io`, but until multiaddr supports TLS and DNS, we can make the DX way much better just by having a `http://demo.signal.libp2p.io` that is at a fixed IP.

Tasks:
- [x] Support config options for the Signalling Server, such like:
  - [x] Listen on a custom multiaddrs (request by @lgierth)
- [x] Have a way to quickly deploy new versions
- [ ] Log pe

[2016-12-05 05:59] diasdavid commented on #38
@lgierth once https://github.com/libp2p/js-libp2p-webrtc-star/pull/43 gets merged and released, you should be good to deploy it, let me know if anything else is missing :)

[2016-12-06 06:53] diasdavid commented on #38
#43 got released \o/

[2016-12-06 15:36] lgierth opened #44 "Instrumentation"
It'd be super useful to expose a few basic metrics, like number of peers and requests answered, if there is such a thing.

In go-ipfs we're exposing an endpoint for Prometheus at http://localhost:5001/debug/metrics/prometheus, and grepping for `ipfs_` you can see a few metrics.

There's a JS client in https://github.com/siimon/prom-client -- the peers count would be a gauge, the requests count a c

[2016-12-06 15:37] lgierth commented on #44
This would probably best be exposed within an additional http listener on a separate configurable address

[2016-12-11 10:43] michaelfakhri opened #51 "Websocket stays connected even after webrtc-star listener is closed"
When the webrtc-star listener is closed, the web-socket connection to the signalling server remains active. This causes a few problems:
- Causes exceptions in testing when signalling server is restarted (moch test -> karma tests) since the connection was never fully disconnected. This happens when the connect event on the socket is re-triggered, which in turn makes the listener rejoin the network

[2016-12-11 17:09] diasdavid commented on #51
Hi @michaelfakhri, great catch! I believe your proposal solution is correct, just needs one more thing. Since several listeners can be open within the same WebRTC Star instance, you need to make sure that all the listeners were closed before disconnecting from the WebSockets server.

One more thing, always feel welcome to submit a PR, even if it is a work in progress :)

[2016-12-12 19:51] diasdavid commented on #38
follow on https://github.com/libp2p/js-libp2p-webrtc-star/pull/48

[2016-12-12 19:51] #38 closed

[2016-12-12 22:02] michaelfakhri commented on #51
Hey @diasdavid I am not sure closing all the listeners is necessary in this case, since this module forces a new socket connection for every listener -> https://github.com/libp2p/js-libp2p-webrtc-star/blob/d8439afcf16e17c6df342437e105d673a0be82c6/src/webrtc-star/index.js#L21.
&& https://github.com/libp2p/js-libp2p-webrtc-star/blob/d8439afcf16e17c6df342437e105d673a0be82c6/src/webrtc-star/index.js#L

[2016-12-13 13:12] VictorBjelkholm opened #57 "Lack of good Linux and Windows support when used with Node.js"
There is a known issue on Ubuntu machine with node-webrtc, issue here: https://github.com/js-platform/node-webrtc/issues/281

Solution currently seems to be building node-webrtc from source, which takes long time and also lots of space. Currently trying out if it helps, will report back.

[2016-12-13 13:53] VictorBjelkholm commented on #57
So, spent around one hour building node-webrtc from source (and about 18gbs...) and ended up getting a segfault instead of the x11 display issue.

[2017-01-17 12:03] michaelfakhri opened #79 "Not all tests are run in the firefox browser launched in TRAVIS"
Hey all

If you look at one of the more recent travis runs:
For e.g: https://travis-ci.org/libp2p/js-libp2p-webrtc-star/jobs/192418819 <-  This is one of the latest builds and it does not run the dial, discovery tests but it shows a pass even though karma timed out.

Cheers

[2017-01-17 12:08] diasdavid commented on #79
They are running, it just prints an awful amount of logs, see:

- https://travis-ci.org/libp2p/js-libp2p-webrtc-star/jobs/192418819#L2208
- https://travis-ci.org/libp2p/js-libp2p-webrtc-star/jobs/192418819#L2221
- https://travis-ci.org/libp2p/js-libp2p-webrtc-star/jobs/192418819#L2224

[2017-01-17 12:40] michaelfakhri commented on #79
Yes it does!, those alsa print outs are just too annoying. I tried removing them once but without any success.

I still think the print outs you pointed are the mocha printouts when coverage is run not the actual karma ones as it can be seen from https://travis-ci.org/libp2p/js-libp2p-webrtc-star/jobs/192418819#L2125 for example
![screenshot from 2017-01-17 07-35-51](https://cloud.githubuserconten

[2017-01-17 14:36] diasdavid commented on #79
ah, right, well the case seems to be that Firefox is not showing webrtc support, made https://github.com/libp2p/js-libp2p-webrtc-star/pull/80 to make it more clear.

Now, firefox should have support, especially version 50, might be a issue with https://www.npmjs.com/package/webrtcsupport

[2017-01-18 12:23] diasdavid commented on #79
nevertheless, browser tests are run in CircleCI correctly

[2017-01-21 00:35] gavinmcdermott opened #85 "Connect 2 peers through the signaling star"
We're trying to connect 2 peers using `webrtc-star` and a signaling server in between. The diagram below is the setup.

![evernote snapshot 20170120 160906](https://cloud.githubusercontent.com/assets/302978/22169753/92594edc-df2b-11e6-9b31-2ae5946fdcc1.png)

After spending some time ~~failing~~ without success this afternoon, we figured it was likely something simple that is being missed. Based on

[2017-01-22 16:49] diasdavid commented on #85
@gavinmcdermott you have to pass the full multiaddr to a `swarm.dial`, you are just passing the PeerId currently

(Nice drawing btw 👌🏾🌟)

[2017-01-22 16:51] diasdavid opened #87 "Get star-signal.cloud.ipfs.team a nice Certificate."
Following: https://github.com/libp2p/js-libp2p-webrtc-star/pull/84#discussion_r97209818

[2017-01-23 02:45] lgierth commented on #87
Here: https://star-signal.cloud.ipfs.team/

That was surprisingly painless thanks to https://github.com/dokku/dokku-letsencrypt

[2017-01-23 07:42] diasdavid commented on #87
\o/ Tests pass with https! No more need for 'Load unsafe scripts'

//cc @haadcode

[2017-01-23 08:08] #87 closed

[2017-01-26 06:25] michaelfakhri commented on #79
Closing this, since the issue seems to have been fixed

[2017-01-26 06:25] #79 closed

[2017-01-27 02:37] ReidWilliams commented on #85
Thanks @diasdavid that helped! The other thing that we weren't getting right was we were adding the WebRTCStar transport to the swarm using ```swarm.transport.add``` but not calling ```swarm.listen``` before dialing.

In case its helpful to others, here's the complete code that worked for us (left out the definition of a couople of functions for brevity)

[code]

[2017-01-29 07:28] michaelfakhri commented on #85
Hey there,

You guys did an excellent job figuring out and documenting all the little stuff that must happen for a connection.

But libp2pNode module handles a lot of these things if you do things slightly differently. So here is what you need to do to simplify the process a lot more:

- Create the node as you do above
-  do node._ipfs._libp2pNode.peerInfo.multiaddr.add(multiaddrs) as you do above

[2017-01-29 08:52] diasdavid commented on #85
It seems you are calling a lot of the internals, which might be causing some havoc.

  .then((instance) => {
    node = instance
    return node.startWithOffset() // part of our node factory, just calls ipfs.start()
  })

If you start the daemon here, you can't later start adding more multiaddrs and call listen again, it is not built to support that.

Check this example - https://github.com/ipfs/j

[2017-01-31 04:00] ReidWilliams commented on #85
@michaelfakhri and @diasdavid thanks guys, we'll change it so we don't use so many internals.

[2017-02-02 20:09] gavinmcdermott commented on #85
Thanks everyone! @michaelfakhri, I have a question regarding the above snippet: If I want to add a transport 'manually', it looks like I need access to the node's `_libp2pNode` instance; which is set upon the [call to `goOnline`](https://github.com/ipfs/js-ipfs/blob/master/src/core/components/libp2p.js#L21). But from my understanding, after `goOnline` is called we can no longer add transports.

An

[2017-02-09 18:32] greenkeeper[bot] opened #92 "An in-range update of peer-id is breaking the build 🚨"
## Version **0.8.2** of [peer-id](https://github.com/libp2p/js-peer-id) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/libp2p/js-libp2p-webrtc-star/compare/greenkeeper%2Fpeer-id-0.8.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      peer-id
    </td>
  </tr>
  <tr>
    <th align=left

[2017-02-09 19:31] greenkeeper[bot] opened #93 "An in-range update of peer-info is breaking the build 🚨"
## Version **0.8.3** of [peer-info](https://github.com/libp2p/js-peer-info) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/libp2p/js-libp2p-webrtc-star/compare/greenkeeper%2Fpeer-info-0.8.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      peer-info
    </td>
  </tr>
  <tr>
    <th al

[2017-02-12 18:20] #93 closed

[2017-02-12 18:21] #92 closed

[2017-02-16 08:09] greenkeeper[bot] opened #94 "An in-range update of simple-peer is breaking the build 🚨"
## Version **6.3.0** of [simple-peer](https://github.com/feross/simple-peer) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/libp2p/js-libp2p-webrtc-star/compare/greenkeeper%2Fsimple-peer-6.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      simple-peer
    </td>
  </tr>
  <tr>
    <

[2017-02-23 16:43] VictorBjelkholm commented on #36
This has been shipped already! :tada:

[2017-02-23 16:43] #36 closed

[2017-03-02 18:40] ReidWilliams opened #100 "Segfaults when connecting a browser to Node.js"
We're seeing a lot of segfaults when we use webrtc-star as a transport and connect an IPFS instance running in a browser to one running on Node.js.

Right now we're trying to get reproducible test cases that cause the segfaults. What we've noticed so far is that segfaults only happen when a browser is connecting to Node.js running inside a docker container. Node.js to Node.js inside a container wo

[2017-03-02 18:43] VictorBjelkholm commented on #100
Yeah, there seems to be something weird happening with `wrtc` on linux, there is a existing issue about Ubuntu specifically here: https://github.com/libp2p/js-libp2p-webrtc-star/issues/57

[2017-03-02 19:22] ReidWilliams commented on #100
Just tried a couple more things to be more sure: I'm seeing segfaults when connecting browser to Node.js when Node.js is running in a docker container and when running outside of a container on Debian.

[2017-03-02 21:06] ReidWilliams commented on #100
Now also seeing segfaults when running two Node.js instances talking to each other.

[2017-03-03 11:19] VictorBjelkholm commented on #100
Hm, I've seen crashes when doing `browser <> node` connections, but never `node <> node`, so might be a different issue.

[2017-03-10 13:04] diasdavid commented on #100
Still seeing this issue @ReidWilliams ? `wrtc` is in fact very unstable, any feedback that can be provided to authors is highly appreciated because it simply doesn't get enough testing.

Do you have easy repro cases?

[2017-03-10 13:04] diasdavid commented on #85
I believe this question is now answered. Closing this one then.

[2017-03-10 13:04] #85 closed

[2017-03-21 07:41] RodZokos commented on #100
I am getting segmentation fault too. I am running Ubuntu 14.04.5 and node v7.7.3

[2017-03-21 07:48] rodkeys commented on #100
I am getting segmentation fault too. I am running Ubuntu 14.04.5 and node v7.7.3

[2017-03-21 14:32] #94 closed

[2017-05-08 18:05] diasdavid opened #110 "Multiaddrs need to be changed"
As per @lgierth recommendation and review, a libp2p-webrtc-star multiaddr should be:

`/dns4/star-signal.cloud.ipfs.team/wss/libp2p-webrtc-star/ipfs/<your-peer-id>`

[2017-05-16 00:12] lgierth commented on #110
Does the webrtc stuff happen over websockets? I.e., does `/dns4/star-signal.cloud.ipfs.team/wss/libp2p-webrtc-star` yield full dialable addresses that match `/ipfs/<your-peer-id>`?

[2017-05-16 06:55] diasdavid commented on #110
I'm 85% positive I got your question, so here is my best shot at the answer:

We need the `/ipfs/<peer-id>` because we need to know which peer we are trying to dial through the signalling endpoint

[2017-05-16 13:02] lgierth commented on #110
Yeah :) And does the signalling happen over /wss?

[2017-05-16 13:03] lgierth commented on #110
I'm just not sure because js-libp2p-webrtc-star is still this magic blackbox to me :)

[2017-05-17 14:02] diasdavid commented on #57
@VictorBjelkholm could you convert this to documentation, please?

[2017-06-29 15:09] diasdavid commented on #110
It does. However, it could happen through any other libp2p stream to a node.

I want to have the signalling server be a libp2p node that mounts the webrtc-star-signalling protocol. This way go-ipfs will be able to handle it too :)

[2017-06-29 15:18] diasdavid commented on #100
Hi @ReidWilliams

Long time no see! I hope everything is great with you.

We've started noticing more of this issue and ended up enabling the option for users to pick their own WebRTC shim for Node.js, today we have two `wrtc` and `electron-webrtc` and the second looks more stable than the first.

[2017-07-03 19:52] diasdavid commented on #44
=> https://github.com/libp2p/js-libp2p-webrtc-star/pull/114

[2017-08-27 18:48] mkg20001 opened #115 "How to get the ipfs peer-id?"
I have my signaling server up and running but have no idea how to get the peer-id for the /ipfs/ url.

Is that the peer-id from .ipfs/config? Could that be mentioned more clearly in the README?

[2017-08-27 19:20] mkg20001 commented on #115
I've realized that the signaling server has no peer-id.

[2017-08-27 19:20] #115 closed

[2017-08-27 19:20] diasdavid commented on #115
👍 I was just about to post a reply but you were faster to close it :)

[2017-08-30 10:02] mkg20001 opened #116 "Insecure"
![demo](https://user-images.githubusercontent.com/7735145/29867117-e614c274-8d7a-11e7-94bb-517eedefd44c.png)
Took me 5 min to write. Redirects all connections. Catches all dials.

Because I'm not evil I stop redirecting. But I could do that forever.

[2017-08-30 10:07] mkg20001 commented on #116
Oh and btw: To crash the server just do `io.emit("ws-handshake")`

[2017-08-31 12:23] lgierth commented on #110
We discussed yesterday that the scheme should probably `/dns4/example.net/tcp/443/wss/p2p-webrtc-star/ipfs/QmDestination`. I had one more thought which is that p2p-webrtc-star isn't a libp2p swarm protocol -- should we mark that in the scheme name? We could name it sig-webrtc-star instead (for "signaling").

[2017-08-31 12:53] diasdavid opened #117 "Create an illustration of how WebRTC Star network is set up (Rendezvous point at the middle)"

[2017-08-31 13:52] diasdavid commented on #116
I was just explaining this to @lgierth yesterday. It's definitely not ideal. The initial plan (which continues to be) is to use a libp2p node for the rendezvous point that will authenticate all connections and so, instead of you announcing yourself, the node will node who is the real dialer.

[2017-08-31 18:35] diasdavid commented on #116
@mkg20001 are you still running this?

[2017-08-31 18:46] mkg20001 commented on #116
No.

[2017-08-31 18:51] mkg20001 commented on #116
To fix it only 1 change is required: Add `if (typeof offer != "object") return` after `function forwardHandshake(offer) {`

[2017-09-08 07:02] diasdavid commented on #116
@mkg20001 wanna contribute with that change and a test for it? :)

[2017-09-08 07:03] diasdavid commented on #57
ping @VictorBjelkholm

[2017-09-08 17:55] diasdavid commented on #110
They have changed now :)

[2017-09-08 17:55] #110 closed

[2017-09-13 11:40] VictorBjelkholm commented on #57
Tried this again with the following versions:

[code]

On `Ubuntu 16.10` and everything now works fine. Seems like since version `0.0.62` of wrtc, they publish binaries for Ubuntu that works fine!

[2017-09-13 11:40] #57 closed

[2017-09-13 13:03] diasdavid commented on #57
no seg faults?

[2017-09-13 13:17] VictorBjelkholm commented on #57
@diasdavid nope, nada. Seems to be working fine now.

[2017-10-20 14:07] #100 closed

[2017-11-19 00:19] Beanow commented on #116
So @mkg20001 if I understand correctly from your code in https://github.com/libp2p/js-libp2p-websocket-star-rendezvous the problem is that the ID needs to be proven, or you can assume another node's identity.

Wouldn't the leave endpoint need the same protection to protect against DOS attacks, as the discovery would give you all the IDs you need?

[2017-11-19 10:57] mkg20001 commented on #116
Yes. WIll fix this in a moment.

[2017-11-27 07:30] diasdavid opened #126 "Deploy to wrtc-star.discovery.libp2p.io"

[2017-11-27 11:05] VictorBjelkholm commented on #126
https://wrtc-star.discovery.libp2p.io/ is live now :)

[2017-11-27 11:05] #126 closed

[2017-11-27 12:00] diasdavid opened #128 "Implement the same Crypto Puzzle that websocket-star has"
@mkg20001 is this something you could contribute?

[2017-11-27 12:02] mkg20001 commented on #128
Sure but also https://github.com/libp2p/js-peer-id/issues/71 needs to be fixed as the server does not have "catch all type validation" which prevents the server crashes in ws-star

[2017-11-28 09:03] diasdavid opened #129 "Needs to support addrs with /tcp/port too"
Similar issue to https://github.com/libp2p/js-libp2p-websocket-star/issues/35, also errors with:

[code]

[2017-11-28 09:21] diasdavid commented on #129
js-mafmt works well with that multiaddr -- https://github.com/whyrusleeping/js-mafmt/pull/20 --, the issue is on the module multiaddr parsing function

[2017-11-29 09:15] diasdavid commented on #129
Solved with #130

[2017-11-29 09:15] #129 closed

[2017-11-29 09:35] diasdavid opened #132 "Travis doesn't like Electron"
<img width="1003" alt="image" src="https://user-images.githubusercontent.com/1211152/33368109-a3d0ba20-d4e8-11e7-8a70-9999d2ca91f6.png">

[2017-11-29 21:56] lgierth opened #133 "/tcp addresses in tests and docs"
There's a couple of places (tests, readme) that don't have `/tcp` parts in their addresses yet.

[2017-11-30 16:17] pgte commented on #128
All tests seam to pass when using https://github.com/libp2p/js-libp2p-crypto/pull/113

[2017-11-30 19:05] fazo96 opened #134 "Error: invalid multiaddr: /dns4/..."
Hello, I get this when I start up js-ipfs in the browser

[code]

Then it looks like it's not able to connect to any other node at all.

I narrowed it down to updating this module from 0.13.2 to 0.13.3, in fact by putting this in the `package.json`

[code]

Everything works again

[2017-12-01 09:13] diasdavid commented on #128
@mkg20001 deps updated. Wanna implement that crypto puzzle? :)

[2017-12-01 15:59] mkg20001 commented on #128
@diasdavid Yes

[2017-12-01 16:40] mkg20001 commented on #134
This does not work anymore as per resolution in #129
`/dns4/star-signal.cloud.ipfs.team/tcp/443/wss/p2p-webrtc-star/ipfs/QmQGbDesZ8ihd1tA9XHkY7gromHywcvSR7jKb4zxjPqSc2` should be used instead (see #133)

[2018-01-24 08:41] AquiGorka commented on #36
Sorry about the double posting, I think this belongs here: how can I execute my `star-signal` server locally with support for `wss`?

[2018-01-24 09:23] AquiGorka commented on #36
Hmmmm, ok, ok. Thanks for the reply!

[2018-02-05 16:25] #134 closed

[2018-02-05 16:35] mkg20001 commented on #128
How about just rewriting wrtc-star to use the new protobuf+libp2p stuff that ws-star will be using? I think that would be easier than to mess even more with sio.

[2018-02-06 06:11] diasdavid commented on #128
Wait on https://github.com/libp2p/js-libp2p/issues/159, it will enable the use of p2p-circuit for both *-star transports

[2018-02-06 12:24] mkg20001 commented on #128
Sure but wasn't wrtc star about the fact the webrtc needs signalling to build up webrtc connection independently of p2p-circuit?

[2018-02-07 14:09] mkg20001 commented on #128
If webrtc star is about using the webrtc protocol rather then the relaying of the connection then it should be independent from signaling servers.
Addresses would then look like `<actual-addr>/webrtc/ipfs/<peer-id>` similar to how the websocket protocol addresses look.
ws-star could be actually renamed to `discovery`, `discovery-star` or `web-mDNS` (because as p2p-ciruit handles relay anyway it's

[2018-03-25 10:19] Ivshti commented on #117
@diasdavid can we have a bit more clarification on this?

1. As far as I can see,  the signalling server is only used to exchange mutladdr's, rather than a full ICE connectivity description - am I understand this right?
2. This would mean there is no TURN fallback, is that correct?

[2018-03-25 18:16] diasdavid commented on #117
No. The SS is really exchanging the SDP offers and uses multiaddrs to route them properly

This is correct.

[2018-03-27 05:32] diasdavid commented on #9
@pgte shipped a while ago https://github.com/ipfs-shipyard/ipfs-pubsub-room, tutorial here -- https://blog.ipfs.io/29-js-ipfs-pubsub/ --, it might be what you were looking for. Apologies for the long wait!

[2018-03-27 16:48] dryajov commented on #9
The added benefit being is that its protocol agnostic - so websockets, webrtc, etc... 😉

[2018-03-27 16:50] VictorBjelkholm commented on #9
I think what's wanted here is just to discover peers who are for example using the same application, not to have status indication or such.

[2018-03-27 17:15] mikeal commented on #9
Sweet!

On Tue, Mar 27, 2018, 9:50 AM ᴠɪᴄᴛᴏʀ ʙᴊᴇʟᴋʜᴏʟᴍ <notifications@github.com>
wrote:

[2018-04-08 13:13] isaackwan opened #139 "Throws when IPv6 literals are used as signaling server (possibly by nodejs/wrtc)"
#### Test file
[code]

#### Console output
[code]

#### package.json
[code]

`/ip6/2a03:b0c0:2:d0::10ca:6001/tcp/443/wss/p2p-webrtc-star` throws but `/ip6/2a03:b0c0:2:d0::10ca:6001/wss/p2p-webrtc-star` works.

[2018-04-08 13:45] isaackwan commented on #139
FWIW - the "correct" way to format the address is `wss://[2a03:b0c0:2:d0::10ca:6001]:443/socket.io/?EIO=3&transport=websocket` with the brackets indicating the colons belong to the IPv6 address itself, not to indicate the port

[2018-04-09 08:56] isaackwan opened #141 "trickle disabled?"
Is there a reason trickle is disabled?

- [https://github.com/libp2p/js-libp2p-webrtc-star/blob/master/src/index.js#L65](https://github.com/libp2p/js-libp2p-webrtc-star/blob/master/src/index.js#L65)
- [https://github.com/libp2p/js-libp2p-webrtc-star/blob/master/src/index.js#L165](https://github.com/libp2p/js-libp2p-webrtc-star/blob/master/src/index.js#L165)

[2018-04-13 15:43] kenshyx opened #142 "weird behaviour when bundled"
If I'm starting my js-ipfs node with this config:
[code]
On my local development environment it will work as expected, by using `wss` when connecting to signalling-server.

On production bundle(using webpack 4), it always tries to connect using `ws` ...:
[code]
I managed to find the problem on this line https://github.com/libp2p/js-libp2p-webrtc-star/blob/master/src/utils.js#L15 . On the productio

[2018-04-17 11:35] kenshyx commented on #142
It seems that uglifyjs breaks that line when it has `mangle: true` https://github.com/mishoo/UglifyJS2/tree/harmony#mangle-options, this is enabled by default for webpack 4 in `mode: 'production'`

I managed to make a usable build(it connects by using wss now) by disabling that option but the overall bundle size increased 35%.

[2018-06-04 08:40] diasdavid commented on #142
@fsdiogo can you look into this one?

[2018-06-05 15:11] fsdiogo commented on #142
Yes, I'll take a look.

[2018-06-06 11:07] fsdiogo commented on #142
Hey @kenshyx, in your UglifyJS config try passing this option:

[code]

Check https://github.com/ipfs/js-ipfs/issues/1321 and https://github.com/ipfs/aegir/pull/214 for reference.

[2018-06-06 13:47] kenshyx commented on #142
Hey @fsdiogo , I've tried with that option, now I get the console full with this:
[code]

[2018-06-06 14:02] fsdiogo commented on #142
Hmm 🤔 is the project on GitHub so I can take a look?

[2018-06-06 14:43] fsdiogo commented on #142
What version of IPFS are you using?

To allow mangling before version `0.29.0`, you have to pass:

[code]

[2018-06-06 14:46] kenshyx commented on #142
I forgot to add that you need to disable the ipfs companion extension to have a local js-ipfs node started.
I use ipfs v`0.29.3`

[2018-06-06 14:54] kenshyx commented on #142
This is a recording of the error https://ipfs.io/ipfs/QmQUgpoVYGjonxeUAimnyWPdzzsyLX7FGjBMJZbG8Dfb2F

[2018-06-06 15:06] fsdiogo commented on #142
Looks like there is a fix incoming, check https://github.com/ipfs/js-ipfs/issues/1379.

[2018-06-06 15:06] kenshyx commented on #142
Hmm this might not be related to production build because I managed to replicate it also in development. So there might be an issue with `stream-to-pull-stream` and `block-stream` packages that ipfs uses.

[2018-06-06 15:07] fsdiogo commented on #142
Yeah, we just came to the same conclusion at the same time 😄

[2018-06-06 15:13] fsdiogo commented on #142
@kenshyx can I close this issue?

[2018-06-06 15:15] kenshyx commented on #142
Yes, thank you for your assistance!

[2018-06-06 15:16] fsdiogo commented on #142
No problem! 👌

[2018-06-06 15:16] #142 closed

[2018-06-28 18:39] owenauch opened #150 "Peer can be discovered but isn't discovering other peers"
Hi, I was working with `js-libp2p-webrtc-star` for the first time, and I was struggling with getting connected to a simple signaling server and discovering peers. I had one peer running with a browser implementation and one running in Node, and both were trying to connect to the same signaling server. When I start both up, I can see the `peer:discovery` event being triggered for the browser-based

[2018-06-28 19:56] jacobheun commented on #150
Hi @owenauch, it looks like you're using the most recently released libp2p here, based on the configuration. Since I can't see your browser setup I'm not sure if you're using an older version or if you config is different resulting in webrtc-star discovery working.

The reason the node version isn't working has to do with the default enabling of peerDiscovery modules, which is currently disabled b

[2018-06-28 19:59] owenauch commented on #150
That fixed it, thank you!

[2018-06-28 19:59] #150 closed

[2018-07-02 20:43] owenauch opened #152 "Listening for calls behind NAT"
Hello, I was wondering if anyone know how to get peers to connect when one (or, ultimately for my use case, both) are behind NAT. Right now, I'm running the same code on two peers -- one on my local computer behind a NAT router (call it machine A), and one on a cloud-based VM (call it machine B). I'm pointing both to the public signaling server and each is both trying to dial each peer with and li

[2018-07-03 16:31] dryajov commented on #152
What you're describing should work. The public signaling server might currently be having issues (// cc @VictorBjelkholm).  Have you tried running your own public (as in not NATed) signaling server?

[2018-07-03 16:32] owenauch commented on #152
I have not, I'll give that a shot and let you know what happens. Thanks!

[2018-07-03 16:46] owenauch commented on #152
@dryajov So I just connected both peers to my own signaling server hosted in the cloud, and had the exact same issue (NAT peer can dial non-NAT peer, but not the other way around). Any thoughts? I am on public coffee shop wifi, but for my use case it would need to work for situations like this.

[2018-07-03 16:54] owenauch commented on #152
@dryajov Wait false alarm, for some reason on further attempts it worked and calls could go through both ways! Thank you!

[2018-07-03 17:03] owenauch commented on #152
Ok so the behavior seems to be really inconsistent. I tried it and both peers were able to dial one another seamlessly, but then after shutting both peers down and restarting them, neither could connect the next few times I tried. And then it worked again after a few tries inexplicably. Is there any reason for the inconsistency?

[2018-07-03 17:09] dryajov commented on #152
This might be happening due to many different reasons, one might be that either of the nodes took longer to get connected to the rendezvous server. However, this still can be a legitimate issue, so lets keep an eye on it. If the issues persist, I suggest you create a new issues around it to track that behavior.

[2018-07-11 15:31] owenauch opened #154 "Understanding discovery, dial and connection flow"

[2018-07-12 00:20] asselstine opened #155 "PeerInfo must be passed multiaddr instances to respect https and wss"
I set my own WebRTC star server behind an NGINX reverse proxy with SSL and tried setting up a node as per the example:

[code]

But that didn't work- I had to actually wrap the string in a `multiaddr` object to get it to respect SSL:

[code]

Hope that helps somebody.

[2018-07-16 14:42] vasco-santos commented on #155
Thanks @asselstine !

Are you interested in adding an example folder for this use case? Or adding a section on `README.md`?

[2018-07-16 16:55] asselstine commented on #155
Thanks for the invitation.  I feel it may merit more of a PR actually.  It strikes me as inconsistent that the library expects multiaddr strings, but it doesn't fully use them unless you pass it wrapped as a multiaddr object.

If I find some time I'll submit a PR.  I'd be happy to contribute as I quite like libp2p so far.

[2018-07-16 16:55] #155 closed

[2018-09-17 11:20] alanshaw opened #156 "Transport `filter` not implemented"
See description here: https://github.com/ipfs/js-ipfs/issues/1562

refs https://github.com/libp2p/interface-transport/issues/38

[2018-09-27 10:51] mccoysc opened #158 "some time "this.listenersRefs[Object.keys(this.listenersRefs)[0]]" is undefined and throw and error"
const sioClient = this
.listenersRefs[Object.keys(this.listenersRefs)[0]].io

some time "this.listenersRefs[Object.keys(this.listenersRefs)[0]]" is undefined and throw and error.

this line is in libp2p-webrtc-star/src/index.js @line 63

[2018-10-01 02:19] mccoysc opened #159 "Uncaught DOMException: Failed to construct 'RTCPeerConnection': Cannot create so many"
config: {
Addresses: {
Swarm: [
'/dns4/wrtc-star.discovery.libp2p.io/tcp/443/wss/p2p-webrtc-star/'
]
}
},

got this error as title.

self._pc = new (self._wrtc.RTCPeerConnection)(self.config, self.constraints)

[2018-10-01 11:37] jacobheun commented on #159
@mccoysc which version of `libp2p-webrtc-star` are you running? The recent release, v0.15.5, added a fix to catch this error. https://github.com/libp2p/js-libp2p-webrtc-star/pull/157

[2018-10-01 11:40] mccoysc commented on #159
I just use the ipfs version 0.32.3……does it would not update with ipfs?

[2018-10-01 12:00] jacobheun commented on #159
If you have a package-lock file it may be locking the version at 0.15.3.  I fresh install or updating your packages should pull in the latest.

[2018-10-04 12:52] mccoysc commented on #158
`
![1](https://user-images.githubusercontent.com/18025276/46475182-6b039500-c817-11e8-8bc6-2e577ff38707.png)
`

[2018-10-04 12:53] mccoysc commented on #158
![1](https://user-images.githubusercontent.com/18025276/46475202-7bb40b00-c817-11e8-958c-066f871c066d.png)

[2018-10-05 14:34] mkg20001 commented on #158
Could you check if the change from PR #160 fixes your issue?

[2018-10-07 09:40] sidravic commented on #154
@owenauch Were you able to find a good answer to your question. I'm stuck in a similar situation looking for some guidance. Would appreciate your help.

[2018-10-18 10:03] gitGksgk commented on #150
@jacobheun  must i setup a Rendezvous server or Signalling server so as to enable browser node peer discovery ?

[2018-10-18 11:19] jacobheun commented on #150
@gitGksgk you will need to connect to a rendezvous server in order to discover other nodes. We do host a rendezvous server you can use for testing, https://github.com/libp2p/js-libp2p-webrtc-star#hosted-rendezvous-server, but it's recommended to host your own for production applications.

[2018-10-25 12:31] alanshaw commented on #156
Closing as the real issue is https://github.com/ipfs/js-ipfs/pull/1663#discussion_r227842748

[2018-10-25 12:31] #156 closed

[2018-10-31 08:35] diasdavid commented on #159
@mccoysc seems that you got your answer. Let us know if it worked. Closing, reopen later if necessary.

[2018-10-31 08:35] #159 closed

[2019-01-23 11:18] alanshaw opened #167 "Support ipv6 address"
It doesn't look like this module supports ipv6 addresses properly when converting from multiaddr to uri. In a URL the IP needs to be surrounded in `[]`.

https://github.com/libp2p/js-libp2p-webrtc-star/blob/master/src/utils.js#L16

websocket-sar deals with this: https://github.com/libp2p/js-libp2p-websocket-star/blob/master/src/utils.js#L22

However the code is repeated...please consider using [`m

[2019-01-23 16:27] tinchoz49 opened #168 "a couple of questions by a starter developer"
Hi everyone! how are you?

I've been playing with this module and start having some questions, I hope you can help me.

1. Is this module the new https://github.com/daviddias/webrtc-explorer ?
2. Can I use this module to do content routing through DHT in WebRTC?

Basically what I want to do is connect WebRTC peers by a content (topic)

Thanks, and if you think that these questions need to go to an

[2019-01-25 09:14] #167 closed

[2019-04-13 13:16] kumavis opened #171 "Discovery discovers self"
`"libp2p-webrtc-star": "^0.15.8"`

sometimes accidently discovers self
[code]

node config
[code]

[2019-04-15 10:37] jacobheun commented on #171
Since transports don't always have access to their own `PeerInfo` instance (which we should probably correct by always passing the libp2p node in transport options), detecting itself on peer discovery is not reasonably possible. We should make the change at https://github.com/libp2p/js-libp2p/issues/356 to avoid downstream users from getting the event.

[2019-05-04 12:29] alanshaw opened #172 "Upgrade Hapi"
For security and performance reasons and also because when installing this module it now logs a bunch of disconcerting warning messages as seen here https://github.com/ipfs/js-ipfs/issues/2008

[2019-05-07 14:35] vasco-santos opened #174 "Reenable prometheus with epimetheus"
When updating `hapi` from v16 to v18, the current implementation of `epimetheus` was not yet updated to use the new promises api, instead of the previous callback logic.

Needs: https://github.com/roylines/node-epimetheus/issues/43

[2019-05-08 08:23] kumavis opened #175 "webrtc-star discovery.stop is a noop"
should no longer emit discovered peers if `stop` is called
https://github.com/libp2p/js-libp2p-webrtc-star/blob/master/src/index.js#L47

[2019-05-08 09:18] #172 closed

[2019-05-12 20:44] #175 closed

[2019-05-14 13:55] lidel opened #177 "PSA: WebRTC WG at W3C looking for DHT/P2P use cases"
Hey folks,

FYSA WebRTC WG at W3C is  gathering  P2P/DHT use cases for the next version of WebRTC which will be discussed at the June interim:

https://github.com/arewedistributedyet/arewedistributedyet/issues/22#issuecomment-492147188:

It is highly relevant to work done in webrtc-star/direct` libp2p projects, as it could lead to removal need for semi-centralized signaling stars and going beyond

[2019-05-17 20:31] guysv commented on #141
This is the third time I come across this issue, think to myself "hmm, thats a good question", proceed to thumb-up the issue, then realize the existing thumbs-up is mine.

Generally, Trickle-ICE will improve any WebRTC app performance, so we should use it.

I can only guess that utilizing trickle ice will complicate the negotiation protocol. That is solvable, but i'm worried about the [next-gen we

[2019-05-17 21:34] guysv opened #179 "STUN integration"
I noticed that currently the WebRTC ICE servers list option is empty. While TURN is superseded by libp2p-circuit, STUN can improve peers connectivity very much!

I see couple of ways to get this going, but not sure what is the right one. That's why this is an issue and not a pull-request ;)

- **Allow configurable STUN servers, and add in some default public ones**
There are many [public STUN serv

[2019-05-17 22:11] mkg20001 commented on #141
We could do multiple req/res cycles in data-exchange. Once everything gets switched over to async/await this shouldn't be a problem anymore. But adding a transport handler for handeling subsequent request/responses might inflate complexity too much, so it might be a good idea to use a "clever hack" here, by adding a listener for the second round, under a different name, so that the complexity is m

[2019-06-10 06:08] jhiesey commented on #177
Currently, WebRTC works well for applications that have a preconfigured signaling server address that all involved browsers connect to via HTTPS or WebSockets. This is a good fit for supporting applications like Google Hangouts and Skype, where WebRTC is a mechanism to avoid sending large amounts of video data through a central server. However, it is a poor fit for distributed applications that wa

[2019-06-10 10:02] lgrahl commented on #177
Your proposed changes (apart from 1. which I deem technically impossible over NAT and the last use case) are covered by the slides for our presentation tomorrow.

Can you file the (very cool) AirDrop-like local file transfer use case towards https://github.com/w3c/webrtc-nv-use-cases/issues? It will not make it into the upcoming discussion but I'm certain it will be discussed eventually.

---

A n

[2019-06-13 04:40] pynchmeister commented on #115
how did you achieve creating the peer-id on the signaling server setup?

[2019-06-13 19:48] jacobheun opened #180 "Update deployments for the hosted signaling server"
The signaling server deployments are out of date, and haven't been deployed in some time. The deployment path for these needs to be improved and the latest version needs to be deployed.

I will be looking at getting this resolved soon, ideally before end of next week (June 21).

[2019-06-13 19:56] jacobheun commented on #126
The deploys for signaling servers need to be updated (they're currently not establishing connections), I'm working on getting that done soon. In the mean time I'd recommend trying to run the signaling server locally, https://github.com/libp2p/js-libp2p-webrtc-star#rendezvous-server-aka-signalling-server. I've verified that it's working locally.

I've created an issue to track the deployment update

[2019-06-13 21:12] pynchmeister commented on #126
Awesome, thank you! I'll give the local signaling server a shot...

[2019-06-13 23:43] jhiesey commented on #177
@lgrahl Yes I'll file the AirDrop use case!

[2019-06-13 23:47] jhiesey commented on #177
As for proposal 1, I am not familiar enough with actual NAT behavior to know if it is ever possible. If a NAT requires both the source IP and port of an inbound packet to match its table entry before forwarding a packet, then I agree it's not possible. Are there NATs that don't care about the source IP when routing inbound packets?

[2019-06-14 08:46] lgrahl commented on #177
@feross and I have presented proposal 1 (rephrased as a requirement) even though I don't think it's possible. One never knows what people come up with and we're currently only looking at use cases.  But the most important aspect I think is the possibility to reuse the signalling data for multiple peers.

Regarding NAT: It may be possible for a fraction of users to leverage techniques such as UPnP

[2019-06-15 18:51] pynchmeister commented on #168
Eager to receive a response to your query as well!

[2019-07-01 15:13] jacobheun commented on #168
You can use this module to do DHT routing. However, an important thing to note is that if you are connected to a large network, the DHT queries will be slow because you potentially have to perform a signaling handshake with a large number of peers. Smaller DHTs won't have this problem, as you'll be able to find the target peers/content more quickly.

I'm not overly familiar with https://github.com

[2019-07-21 21:37] daviddias opened #181 "Active proposal: Sunset the *-star protocols 🌅"
[Proposal: Sunset the *-star protocols 🌅](https://github.com/libp2p/js-libp2p/issues/385)

[2019-10-12 22:48] pashoo2 opened #186 "Add query option for socket.io client library"
It's necessary to add a query option, to allow for a server side to define wich query has come - it it from the 'js-libp2p-websocket-star' and 'js-libp2p-webrtc-star'.
For example, i wrote the proxy server and it's necessary to decide which server must handle the query received - 'libp2p-websocket-star-rendezvous' or 'star-signal' instance.
At now i've added this configuration to the library:
cons

[2019-10-14 08:39] vasco-santos commented on #186
Hey @pashoo2 thanks for reporting this.

Would you like to create a PR to add support for this?

[2019-10-16 07:51] pashoo2 commented on #186
Hello. Sure, i can, it's easy)
Also it allow to use only one server to handle requests to websocket star, webrtc star and delecate router, cause server can route each request to a specified target by the flags in query string.

[2019-10-18 20:21] pashoo2 commented on #186
@vasco-santos  I've created the pull-request https://github.com/libp2p/js-libp2p-webrtc-star/pull/187. Also i can provide some example of a server which contains all-in-one:
1) webrtc-start
2) websocket randevu
3) delegate node

[2019-10-20 10:47] vasco-santos commented on #186
Hey! That would be great @pashoo2 ! What is the best format for that?

[2019-10-28 05:37] pashoo2 commented on #186
There are multiple modules with the one general bridge. I can make a repo or provide all modules within a one directory with the description in Readme.md and you will decide what to do with all of that 😀

[2019-10-28 05:40] pashoo2 commented on #186
It's all simple Nodejs modules with out a bundler and linter

[2020-01-30 19:21] achingbrain commented on #174
You should be able to use [achingbrain/menoetius](https://github.com/achingbrain/menoetius) in it's place..

[2020-01-31 16:15] #174 closed

[2020-02-20 17:00] vasco-santos commented on #158
Closing this as it should be fixed. Feel free to open it if you find this problem again

[2020-02-20 17:00] #158 closed

[2020-03-12 14:46] jacobheun opened #210 "[Tests] CI is failing for the latest version of Firefox (74)"
While working on https://github.com/libp2p/js-libp2p-webrtc-star/pull/209, CI began failing this week for Firefox. I ran some tests locally against the current version and previous version of Firefox. I am seeing the failures on the latest version, but the previous version is fine.

As this failure is unrelated to that PR, I am creating the issue here to track fixing that. It's possible this could

[2020-04-02 16:24] #210 closed

[2020-04-21 17:39] vasco-santos opened #214 "Unskip subset of libp2p-interface tests for transport"
This module is currently not using the latest `libp2p-interfaces` module, but a tag with a few tests skipped. Context https://github.com/libp2p/js-libp2p-webrtc-star/pull/183#issuecomment-536331736

We should use the latest tests and fix these issues as discussed in #213

[2020-04-25 20:02] AustinFoss commented on #214
Oooooooh! This explains why I've been bashing my head in trying to figure out why my project suddenly stopped working that morning. I've never really followed a dev chat on github before but just wondering if this will be returned to emitting a PeerInfo object or should I adjust my code to implement this new object format of just the id & multiaddrs?

[2020-04-26 11:49] bluelovers opened #215 "[request] do not install package from git"
[code]

https://github.com/libp2p/js-libp2p-webrtc-star/blob/914905802c391127c4acd91552a7b8807a163514/package.json#L83

[2020-04-27 10:03] vasco-santos commented on #214
Hey @AustinFoss

Can you let me know when that happen? I am not sure this is the reason for that, since we are skipping these tests since last year (https://github.com/libp2p/js-libp2p-webrtc-star/pull/183#issue-309837894). In addition, this module did not support in the past the features that are being skipped on the tests.

The goal is to deprecate PeerInfo, as described in [libp2p/js-libp2p#589

[2020-04-27 20:45] AustinFoss commented on #214
Preface the following with that I'm pretty sure I went to bed on the 20, saved, woke up on the 21st and then my project wasn't connecting to peers over webRTC.

You can actually recreate the issue directly from "js-libp2p/examples/libp2p-in-the-browser". You are able to connect to the boot strapped nodes just fine but the connection to any additional nodes opened in subsequent tabs will not connec

[2020-04-28 07:47] vasco-santos commented on #214
Hello @AustinFoss

I just tried out the `libp2p-in-the-browser` example with two browsers and everything worked as expected. Are you running the signalling server before running the example?

Regarding versions, #213 was released as `beta` for `0.18.0` and this should not be installed for you, unless you explicitly installed it. This way, both the example and your project should be using the `late

[2020-04-29 20:34] AustinFoss commented on #214
Yep. Other wise peers wouldn't be found at all. But for some reason the connection to the webRTC discovered peers don't connect, only found.

I did find something that might be causing the issue but I'll expand it in an issue over there.

[2020-04-30 22:57] Deepp0925 opened #218 "what is an upgrader?"
how to create one?
- I already checked the interface-transport

[2020-05-04 07:51] vasco-santos commented on #218
Hey @Deepp0925

An upgrader takes a raw connection (obtained from a specific transport, webrtc in this case) and upgrades it into a libp2p connection. This is, it encrypts the connection and multiplex it, according to the connection encryptor mechanism and multiplexer provided by `js-libp2p`: https://github.com/libp2p/js-libp2p/blob/master/src/upgrader.js

I agree that this should be detailed in t

[2020-05-04 17:37] JamesHageman opened #219 "WebRTCStar.dial: Cannot read property 'io' of undefined"
Hello!

I'm using the `p2p-webrtc-star` transport with the latest `js-ipfs` (`0.43.1`) in the browser, with the signalling server running at `localhost:9090`. I'm trying to connect two peers over WebRTC:

[code]

However, this fails with the following exception:

[code]

Which appears to come from this line in `WebRTCStar._connect`:
https://github.com/libp2p/js-libp2p-webrtc-star/blob/4ed25a5427b8

[2020-05-11 10:41] vasco-santos commented on #219
Hey @JamesHageman

Are you running the signalling server locally? We do not support dns resolution yet, so I think it would work if you put your local ip address in the multiaddr: `/ip4/127.0.0.1/tcp/...`

For more information, you can look into the `js-libp2p` or `js-ipfs` browser examples. Let me know if you could get this fixed

[2020-05-13 15:39] achingbrain opened #222 "Error during node shutdown"
I think this might be a similar issue to https://github.com/libp2p/js-libp2p-tcp/issues/130, this time in the browser.

We're in the process of tearing a node down while operations are ongoing - an error is thrown which is not handled.  Here `simple-peer` is trying to add a `code` property to the thrown value (it looks like a string?) which already has a read-only `code` property.

[code]

[2020-05-14 15:04] achingbrain commented on #222
I've PR'd `simple-peer` to not try to override the `.code` property of the thrown error, this should stop the secondary error from being thrown: https://github.com/feross/simple-peer/pull/660

[2020-05-28 01:13] daviddahl commented on #218
I found it difficult to provide the correct `upgrader` object expected by the wrtc constructor. The exception links to a deprecated repo, and the `Upgrader`tests in `libp2p` do not seem all that clear to me. I am looking to use `libp2p-webrtc-star/src/sig-server` as a signaling server for a pubsub app and cannot get past this exception requiring an upgrader. It seems like the upgrader needs access

[2020-05-28 14:51] jacobheun commented on #180
Now that we have a [Dockerfile](https://github.com/libp2p/js-libp2p-webrtc-star/blob/master/Dockerfile) for this we need to work on getting a server deployed for folks to be able to dev on. Infra issue https://github.com/protocol/infra/issues/509

[2020-05-28 16:28] daviddahl commented on #218
I have created a PR to my own fork of `js-ipfs` with an attempt of using an upgrader and wrtc for signalling, here: https://github.com/daviddahl/js-ipfs/pull/1

[2020-05-28 18:14] vasco-santos commented on #218
@daviddahl

This is from an old workshop, but we should check on updating it!

`js-libp2p` should allow setting up a custom upgrader. I would recommend that you open an issue in `js-libp2p` where we can discuss on the best approaches for this and also create an example for these use cases.

[2020-05-28 18:57] daviddahl commented on #218
@vasco-santos

Will do. Thank you.

[2020-06-04 14:10] jacobheun commented on #171
This has been resolved in js-libp2p

[2020-06-04 14:10] #171 closed

[2020-06-11 04:08] phillmac opened #225 "Uncaught Error: cannot signal after peer is destroyed"
https://github.com/libp2p/js-libp2p-webrtc-star/blob/50dd42daa678cd07ddbc3e38364337b5ce567881/src/index.js#L182

Line 182 sometimes throws this error:
[code]

Would it be advisable to wrap it in a simple `if` to check the `destroyed` property? e.g.
[code]

This would allow the node to continue instead of crashing and burning just because a peer went away while a message was pending

[2020-06-11 10:11] #225 closed

[2020-07-06 13:37] jjperezaguinaga opened #238 "Documentation does not provide an SSL-friendly setup."
When following `0.27.x` [libp2p in the browser example](https://github.com/libp2p/js-libp2p/tree/0.27.x/examples/libp2p-in-the-browser), the [README](https://github.com/libp2p/js-libp2p/blob/0.27.x/examples/libp2p-in-the-browser/README.md) describes how to run a [signalling server](https://github.com/libp2p/js-libp2p/tree/0.27.x/examples/libp2p-in-the-browser#signaling-server) and even points you

[2020-07-06 14:04] vasco-santos commented on #238
@jjperezaguinaga thanks very much for such a detailed setup. I totally agree that we should make this more clear. Would you like to make a PR for this repo with this? I would like to have a Markdown file with these instructions, and a mention to it in the main README

[2020-07-06 14:32] jjperezaguinaga commented on #238
@vasco-santos Happy to do so! I also think it would be useful to highlight the instructions for “deploy your own node” or even add something like a “Deploy Server” to GCP or AWS so users can also use their own infra instead of just expecting the nodes from `libp2p` to work. Will do shortly.

[2020-07-09 14:43] HexaField opened #240 "Chat browser example crashes bootstrap on message"
Running Ubuntu 18.04.4 LTS and nodejs 14.4.0 and libp2p 0.28.0

Running chat example on browser will crash the bootstrap when sending a message.

[code]

[2020-07-10 13:19] jjperezaguinaga commented on #238
@vasco-santos @jacobheun Quick update here. I've created a [Terraform module](https://github.com/hoprnet/hopr-devops/blob/master/modules/services/libp2p-webrtc-star/main.tf) which automates the deployment of a `libp2p-webrtc-star` server in GCP. You can see its usage [here](https://github.com/hoprnet/hopr-devops/blob/master/ch/develop/services/libp2p-webrtc-star/main.tf), which powers now https://

[2020-07-20 01:46] autonome commented on #218
Is there a doc change required here @vasco-santos, or can be closed?

@daviddahl were you able to get the upgrader working?

[2020-07-20 08:49] vasco-santos commented on #218
We should probably improve our description about the libp2p upgrader in https://github.com/libp2p/js-libp2p-interfaces/tree/master/src/transport#upgrader.

I am closing this issue and opening a new one in the interfaces repo

[2020-07-20 08:49] #218 closed

[2020-07-23 09:30] vasco-santos commented on #238
Hey @jjperezaguinaga

Sorry for the delay, but I wanted to look at this properly first.

First of all, this is super nice and will potentially be important for some users. My biggest concern is the introduction of a lot of concepts/tools that users might not be familiar with, like Terraform, GCP, among others.
I usually prefer more iterative approaches for documentation like this. This way, what I

[2020-07-24 15:30] vasco-santos commented on #238
FYI: my goal is to get this documentation into this repo and link it from this larger docs for all libp2p infra https://github.com/libp2p/js-libp2p/pull/718

[2020-07-27 10:24] jjperezaguinaga commented on #238
Hey @vasco-santos, no worries! We appreciate any input you guys can share. We have our own setup and are working on stuff other devs can use in https://github.com/hoprnet/hopr-devops, where we are mounting our app (which uses `libp2p` underneath) via Docker containers. I agree that for a more generic setup, we can move away from Terraform and GCP, particularly as the learning curve on some of thos

[2020-07-27 15:39] jacobheun commented on #238
@jjperezaguinaga can you check your dependencies for `stream-to-it`? There were some memory leaks there in 0.2.0 that we patched recently, upgrading to 0.2.2 should mitigate the memory related terminations you're seeing.

[2020-07-28 08:02] jjperezaguinaga commented on #238
@jacobheun Thanks! Saw that in one of the issues in the lib, but we have yet to test it. What worked for us was moving away from `alpine` to `buster` when creating the Dockerfile. Sadly that doubled the image but for now, it seems to work.

@vasco-santos Let me see if I can add something to libp2p/js-libp2p#718 under `4.` describing a quick way to get an SSL certificate w/Let's Encrypt and setting

[2020-07-28 08:08] vasco-santos commented on #238
Yes, this can also be super nice for libp2p users. I think there is space for it in the iterative approach.

My goal is to have the production document for `webrtc-star` in this module. Then, libp2p/js-libp2p#718 would point to it. The main reason for that is users who will look for such instructions in this repo. The other sections in that PR mean deploying a libp2p node and make more sense in it

[2020-07-28 12:45] jjperezaguinaga commented on #238
@vasco-santos Testing the water in https://github.com/libp2p/js-libp2p/pull/722. For the SSL setup, IMHO we could leverage on @solderjs‘s [greenlock.domains](https://greenlock.domains/) to quickly generate the SSL certs when adding a `CNAME` entry on a given domain. The other alternative could be to ask people to install and run `certbot` to issue the certs and then provide a sample `nginx` config

[2020-07-28 12:58] vasco-santos commented on #238
The `nginx` + `certbot` seems the more traditional setup, while greenlock.domains might be the fastest solution.
I think we should start with the traditional, but then recommend people solutions that might help them achieve the same with automation/ease, like greenlock.domains and setps like you previously described with terraform.

[2020-07-28 13:30] jjperezaguinaga commented on #238
Perfect, let's go for the `nginx` + `certbot` for now.

[2020-08-12 10:54] #214 closed

[2020-08-17 18:04] tabcat opened #251 "webrtc-star/simple peer errors, setRemoteDescription"
Instructed to move https://github.com/ipfs/js-ipfs/issues/3231 here

[2020-08-18 07:44] vasco-santos commented on #251
Thanks for reporting this @tabcat
Would you like to PR this change?

[2020-08-18 13:20] tabcat commented on #251
I can try, I will take a closer look after our HackFS presentation today :)
I've never seen a `cannot assign read only property 'message' of object ''` error before though, so any info on that would be helpful.

[2020-08-20 07:50] vasco-santos commented on #251
It seems that who creates the error somehow makes it read only (with a proxy or similar). If that is the case, I think we can just not assign the error message and log it, as there is nothing we can do

[2020-10-05 08:32] StationedInTheField opened #258 "wrtc-star1.par.dwebops.pub pubsub stopped working"
Hey, we're using `wrtc-star1.par.dwebops.pub` for pubsub in our example and it broke yesterday. The other address works but on this address peers listening to the same topic can't see each other

[2020-10-05 08:34] vasco-santos commented on #258
Hey @StationedInTheField
Do peers connect via it, or they fail to connect?

[2020-10-05 08:39] vasco-santos commented on #258
I just tried out the `wrtc-star1.par.dwebops.pub` and the connectivity seems fine. Can you give me more details?

[2020-10-05 08:45] StationedInTheField commented on #258
They connect, 10 swarm peers listed and ``Swarm listening on /dns4/wrtc-star1.par.dwebops.pub/tcp/443/wss/p2p-webrtc-star/p2p/QmXNudapyb5pxgEC9WALkaeohb8gC8pmKw9Nr4HApgpCDV`` but the peers can't see each other on the same topic. If I go and change it to the address here: https://github.com/QuestNetwork/qDesk/blob/0.9.4/src/app/swarm.json it works again.

[2020-10-05 08:53] vasco-santos commented on #258
Maybe it was some availability issue. Have you tried again? I don't see any reason for only one of the public star servers to work.
Just to be clear, are you connection all the peers to that single star server for trying it?
One last observation, you should run your own star server at some point and do not rely on the public ones as there availability is not guaranteed and are shared by a lot of p

[2020-10-05 09:45] StationedInTheField commented on #258
It's really strange and it still isn't working while on the other address it works.

Yeah of course. We are running our own star node and recommend every business that uses it to run their own that's why we have the editable list in Settings > IPFS. But this is our example app, so developers can test it. I'm implementing some additional peering, so the app always has or at least can request a list

[2020-10-05 10:31] vasco-santos commented on #258
What I was trying to understand is if both pubsub subscriber peers are using the same star server. I will make some experiments meanwhile

[2020-10-05 13:08] StationedInTheField commented on #258
yes, they're the same app with the same configuration, just different repo names and user data - and like i said works fine with the sjc address

[2020-10-07 07:55] vasco-santos commented on #258
I could not replicate this. If you can get any extra information, or a replication test, it would be super helpful

[2020-10-13 10:30] Xplorer123 opened #262 "RTC transport channel closed error on transferring large amount of data"
I am trying to transfer files using libp2p webrtc transport using streaming iterables. I am using it-pipe package for this. In the middle of the transfer I get Transport Error: RTC transport channel closed. I suspect that this is happening due to latency as I can recreate this error only on certain devices (mostly low-end smartphones).
I am using this generator as asynchronous source for file tran

[2020-10-27 12:05] vasco-santos opened #266 "Node.js 15 CI tests"
Per #264 , Node.js 15 CI job should be integrated. `interface-transport` tests are currently failing

[2020-10-28 15:23] ubernaut opened #267 "Upgrader is not defined."
I'm trying to perform a "hello world" type example of libp2p using webrtc-star where I can make two peers communicate.

Having trouble with the browser usage guide from the readme. I understand that I need an Upgrader but I'm not sure how to instantiate one.

If that is out of scope for this project,
Can you point me to a complete self contained example of standing up a libp2p node using webrtc-st

[2020-10-28 15:48] vasco-santos commented on #267
Hello @ubernaut
While you can create an [upgrader](https://github.com/libp2p/js-libp2p-interfaces/tree/master/src/transport#upgrader) yourself, it is not trivial and if you are relying on libp2p you should just rely on its own upgrader. I recommend you to leverage the [libp2p/js-libp2p/examples/libp2p-in-the-browser](https://github.com/libp2p/js-libp2p/tree/master/examples/libp2p-in-the-browser) f

[2020-10-28 16:08] ubernaut commented on #267
This is exactly what I was looking for thanks a million @vasco-santos ! I now have the example up and running in my browser.  I'll direct similar questions toward the discussion group you linked.

[2020-10-28 16:08] #267 closed

[2020-10-29 15:12] jacobheun commented on #262
We should look into the size of packets, webrtc can have a bad time if the packets that get sent over the wire are too big (64kb).

It would be good to add tests around trying to choke the transport, we may need to add a chunk limiter here to prevent sending larger packets.

[2020-10-29 15:17] vasco-santos commented on #258
I am closing this issue! Feel free to re-open if this is still an issue

[2020-10-30 21:13] markg85 opened #268 "Not getting peers nor pubsub messages"
Hi,

I have setup a "webrtc-star" server here: https://star.sc2.nl/
Next i use the following code that is compiled to browser code using parcel. You can (nearly literally) copy/paste it in your own setup.

[code]
**Note**, please do tell me anything that's wrong with this code. I've merely scraped it together from multiple examples throughout readme pages, examples and issues posts.. It seems very

[2020-11-02 00:46] StationedInTheField commented on #258
Well you can test it with the Web Demo, it also happen with the sjc star configured now:

https://gateway.pinata.cloud/ipfs/QmZNvMbTPCEW1vebsEc5L2dx18PeYCKgwP5oMCVREkmr3p/

On chat in the left bar via the context menu on the + icon you can create a channel, then on the right bar in settings, you can create an invite, in a second browser window you can then paste the invite via "join channel" in th

[2020-11-02 10:03] vasco-santos commented on #268
Hey Mark,
Thanks for reaching out. For properly testing this out in my end, can you let me know your versions of every module in the package.json? If you have this available in any repo, it would be nice.

Just looking at the code, I can see some issues.
Starting by the bootstrap multiaddrs, I believe you are adding the address of the signal star server. It is not a libp2p node, so it is not reach

[2020-11-02 10:25] vasco-santos commented on #258
I could replicate now via the `libp2p in the browser` example that the peers do not get discovered+connected using `/dns4/wrtc-star1.par.dwebops.pub/tcp/443/wss/p2p-webrtc-star`. The peers are able to connect to the signal server, and emit the `ss-join` message. However, it seems that the server is not getting it correctly. The other star server is working perfectly.

@mburns Can you provide us lo

[2020-11-02 10:32] markg85 commented on #268
Hi Vasco,

Do note that the address i was using in the bootstrap was `ipfs.sc2.nl` note the **ipfs**. That is a full IPFS node.
The webrtc thingy is running at `star.sc2.nl` there note the **star** :)

I fiddled with the addresses a bit to reflect what you just told me. It didn't change anything for me (no peers).
So yeah, i'll happily share the full test project!

Also, you mentioned that i shoul

[2020-11-02 10:40] vasco-santos commented on #268
Indeed there is an issue with `star1`. I am trying to gather more information on it. The star2 is working fine.

[code]

The above is true, the peer will be listening on `/dns4/wrtc-star1.par.dwebops.pub/tcp/443/wss/p2p-webrtc-star/p2p/<your-peer-id>`.  In the first example, the peerId added was not the peerId of the libp2p node being created (it was apparently the IPFS peer id?). We expect listen

[2020-11-02 10:49] markg85 commented on #268
I did notice that i got peers from star2 too. But even then, pubsub didn't work.
In the example i'm subscribing to the "news" topic. Use any ipfs node to do `ipfs pubsub pub "news" "blablabla"` and you'll see that you won't get the message, however long you wait.

My whole goal here is to have pubsub working, just to be clear about that :)
And, that full IPFS node (the one on ipfs.sc2.nl) does hav

[2020-11-02 10:57] vasco-santos commented on #268
Ok, I copied your project and just ran it:

1. the bootstrap addr is an address using a TCP transport, which is not supported in the browser.

I removed the bootstrap module for now. You will need to use a websocket transport there.

2. Removing bootstrap, the app started and I immediately got connected to one peer (perhaps it is yours?). I opened a second window and I got a new peer connected and

[2020-11-02 11:01] vasco-santos commented on #268
@markg85 out of topic, but I remembered that it would be super helpful if you could create docs for setting up the star server, since you got it running. Would you be interested and creating a PR targeting this (in progress PR) https://github.com/libp2p/js-libp2p/pull/718 to add instructions for the star servers?

[2020-11-02 12:07] markg85 commented on #268
I'm lost...

If i understand you correctly you just removed the bootstrapping and that made it work for you?
If i do that (this code)
[code]

Then i still get the same af before. Nothing.

Also, i don't get why i need to change my IPFS node to talk with websockets.
Isn't the whole point of that p2p-webrtc-star to be the proxy of sorts between a website and a ipfs node?
Please explain this in detai

[2020-11-02 12:17] markg85 commented on #268
Hmm, i have more results now.
If i open 2 tabs with the same app, then it begins to start getting nodes.. wtf...

Ehm...
I need to get nodes with just one tab on that app.

Also, am i correct in assuming that if i enable websocket on my IPFS node that i **only** need the bootstrap node and can get rid of the whole WebRTCStar? Including the signaling thingy on star.sc2.nl?

[2020-11-02 12:33] vasco-santos commented on #268
@markg85

Yes, that is the expected.

So, on a general note I will explain you the flow for `webrtc-star`.

Webrtc-star transport+discovery module should be used to easily achieve connectivity between browser peers.
Why? Browsers do not support websockets incoming connections, only to dial given addresses (yes, client-server model).
What happens behind the scenes? The browser node will dial the st

[2020-11-02 13:03] markg85 commented on #268
Ok, right.
It slowly begins to make sense.

I couldn't find any of this on the github pages btw.

So i changed my node to allow `ws` like you mentioned.
But now i'm not sure how to modify the code to make use of it.
Could you provide an example that uses a `ws` enabled node in the bootstrap? So no p2p-webrtc-star at all.

You can try to use my node (ipfs.sc2.nl) it should have websockets enabled n

[2020-11-02 13:31] vasco-santos commented on #268
It is a mixture of concepts. `js-libp2p` has a wide variety of examples where you would need to get pieces for them. Browser, Transport and Pubsub examples.

For a simple scenario you can do

[code]

Other solution would be to not use bootstrap at all and do:

[code]

What port did you use?

[2020-11-02 13:44] markg85 commented on #268
Please try to improve that. The very fact that it works that way causes it to be very vague for anyone to want to use it. It raises the bar a lot more then it would need to be if there were concise clear examples of explaining individual concepts.
Right now it "feels" like on pile of tools where i need to grab some from not knowing fully which tools do what exactly.

Well, i don't know which port

[2020-11-02 13:57] vasco-santos commented on #268
Right now it "feels" like on pile of tools where i need to grab some from not knowing fully which tools do what exactly.

It would be great if you could provide direct feedback on what types of examples you would expect and why are they valuable. There are a lot of use cases and at the moment there are a set of examples that enable the basic use cases, but the community input on their difficulties

[2020-11-02 14:31] markg85 commented on #268
Now i feel stupid as i completely missed the 4010 port part. Oops.

It now slowly begins to work, but still not as i would expect it to.
I needed to use this address:
`/ip4/116.203.242.65/tcp/4010/`**ws/p2p**`/12D3KooWLVFqkLQGa4rRFmqrVtTnm4CkKrySm8V1cCebxnDmx53N
Note the extra `/p2p`.

Now it does connect when using bootstrapping and if send a pubsub message **from that machine** (so from 116.203.

[2020-11-02 14:57] vasco-santos commented on #268
Yes, you need the `/p2p` part. I copied from your previous answer and I did not see it was missing. That is the multiaddr code for the peer id that will come afterwards.

Yes, that would eventually be expected. If peer A cannot reach peer B by any way, it will not be able to propagate pubsub messages around. So, this seems a connectivity issue as before.
If you do the manual dial from your local m

[2020-11-02 16:20] markg85 commented on #268
What i'm trying to achieve is basically a client-server model.
I want a website (static with js, client side) to get a "signal" (from pubsub) to know if there is new content (just an ipfs hash) to download.
The site then uses an ipfs gateway to get the content for that hash. This gateway can also be a web3 ipfs thingy.
In my case i have a list of news items where the server sends me an update on p

[2020-11-03 09:20] vasco-santos commented on #268
Hey @markg85
Can you please proceed on posting this in https://discuss.libp2p.io instead?
We are really out of the scope of `libp2p-webrtc-star` for a long time and this conversation should be open for the larger libp2p community so that other people can be involved on the discussion or at least learn from it later.
I will be happy to answer you there, you can tag me.
I will be closing this issue

[2020-11-03 09:20] #268 closed

[2020-11-05 06:33] mburns commented on #258
Looks like an old image got deployed (`libp2p/websocket-star-rendezvous:v0.3.0`).

I've stopped that and got `libp2p/js-libp2p-webrtc-star` running again, which matches `wrtc-star2`.

[2020-11-05 09:20] vasco-santos commented on #258
Thanks @mburns this is now working on the example.
@StationedInTheField can you let me know if this is sorted out on your end?

[2020-11-15 20:18] markg85 commented on #268
12 days later... sorry for that.
I was expecting the IPFS discuss page...
Are you sure i need to post on the libp2p one? I mean, the tech in the backend might be libp2p but from a user and even developer point of view this is going to be 100% IPFS.

I'll wait with posting till you confirmed this one :)

Thank you a lot for all your help thus far!

[2020-11-16 08:45] vasco-santos commented on #268
@markg85 yes, it is also fine if you post to discuss.ipfs.io!  Thanks for understanding

[2020-11-17 21:16] jacobfriedman commented on #268
Bump - I think the autodialing isn't working.
[code]
...

[code]
Doesn't procure after peer:discovery for me.

[2020-11-17 21:35] jacobfriedman commented on #268
Update... saw, after a google of `Error: protocol selection failed`... SECIO is required!? But it's deprecated! I added it and will post the update back here .

Not the greatest way to manage it but

[code]

[2020-11-17 21:43] jacobfriedman commented on #268
I might add - I'm trying to pass messages to myself through different instances

[2020-11-17 23:40] jacobfriedman commented on #268
Hrm. It looks like pubsub on a local computer/instance, between two nodeJS processes, only process one of the pubsub streams (i havent tested other topics yet).

[2020-11-18 09:05] vasco-santos commented on #268
Hello @jacobfriedman
Any reason for not creating a new issue?
I am not sure if I understood the issue, but I noticed in your code an API issue so far:

[code]

should be the follow (check the [API.md](https://github.com/libp2p/js-libp2p/blob/master/doc/API.md#libp2pconnectionmanager)):

[code]

So, if you are trying to talk with a node that unfortunately did not update its connectionEncryption mod

[2020-11-18 12:43] jacobfriedman commented on #268
I'll make a new issue. It's not an RTC problem. I added the
connectionmanager in and will report on the pubsub issue I had

On Wed., Nov. 18, 2020, 4:05 a.m. Vasco Santos, <notifications@github.com>
wrote:

[2020-12-03 16:14] vasco-santos commented on #215
This is fixed, thanks for reporting it

[2020-12-03 16:14] #215 closed

[2020-12-14 08:14] #251 closed

[2020-12-14 08:48] tabcat opened #287 "It seems you are trying to reach a Socket.IO server in v2.x with a v3.x client"
Unable to connect to public webrtc-star signal servers in what seems due to a webrtc-star patch upgrading `socket.io-client`.

experienced after running `npm run test` on https://github.com/orbitdb/orbit-db-store/tree/0330c952ff8b54d7d9ccf5248a32dab4642a01d3

will try running the rendezvous server locally.

error from ipfs
[code]

relevant ipfs config
[code]

js-libp2p [src/transport-manager.js#L1

[2020-12-14 09:59] vasco-santos commented on #287
Thanks for reporting this. I am going to revert the commit and ask for the server to be updated.

[2020-12-14 10:13] vasco-santos commented on #287
I released `0.20.5` with the commit reverted.

@mburns can I have your help here? I was expecting the deployed `webrtc-star` servers to be updated on push, which is not the case, so we will need to update them. However, from this issue I noticed that v2 clients will not be able to talk with v3 servers 😞

I did a small research and it seems the best way would be do to

[code]

per https://socket.io

[2020-12-14 21:37] tabcat commented on #287
Thank you @vasco-santos everything is working great now :+1:

Running the latest rendezvous server locally had worked for me in the mean time as well

[2020-12-17 09:16] vasco-santos commented on #287
Thanks for the alert/feedback @tabcat
I will be looking on an upgrade for this with the infra team

[2021-01-04 10:11] vasco-santos commented on #287
FYI #292 aims to solve this

[2021-01-28 16:25] jacobheun commented on #219
Closing due to inactivity, please reopen if you are still experiencing an issue.

[2021-01-28 16:25] #219 closed

[2021-03-23 16:35] achingbrain opened #315 "Intermittant crash"
The following error occurs intermittently on Chrome and Firefox during IPFS CI:

[code]

The test is [this one](https://github.com/ipfs/js-ipfs/blob/49f78807d7e26483bd926b45cc7e0f797d77e41b/packages/interface-ipfs-core/src/swarm/peers.js#L109-L139) and the error message seems unrelated to the test code.

[2021-04-09 04:09] hannahhoward commented on #315
Hi! Want to report my findings here:

I looked closely at the test here: https://github.com/ipfs/js-ipfs/blob/49f78807d7e26483bd926b45cc7e0f797d77e41b/packages/interface-ipfs-core/src/swarm/peers.js#L109-L139

I believe our answer may live somewhere in the todo referenced in these lines: https://github.com/ipfs/js-ipfs/blob/49f78807d7e26483bd926b45cc7e0f797d77e41b/packages/interface-ipfs-core/src/

[2021-04-13 13:57] #287 closed

[2021-04-21 10:41] khayliang opened #333 "Start SSL secured star server in LAN"
Hi, I'm trying to setup a star server in LAN and I need to serve wss. I can't seem to get the DEPLOYMENT.md guide going on my PC. Any suggestions on how to get it started?

[2021-04-22 15:30] #315 closed

[2021-04-26 17:03] SonataOto commented on #266
Actually, this repository fail at deploy about Node versions >=15 <=16.

[2021-06-06 19:54] mcclure opened #360 "Warn, or callout in connection error, when using insecure websockets"
js-libp2p-webrtc-star and js-libp2p-websockets both support either ws/ or wss/ multiaddrs (WebSockets, or SSL WebSockets). Many of the [examples](https://github.com/libp2p/js-libp2p/tree/master/examples), such as libp2p-in-the-browser or peer-and-content-discovery, use vanilla WebSockets, not Secure WebSockets, and this is appropriate, since these examples are likely tested using web servers on lo

[2021-06-16 09:41] vasco-santos opened #364 "Tests fail to finish without aegir exit"
@achingbrain in https://github.com/libp2p/js-libp2p-webrtc-star/pull/362

[2021-06-25 14:57] lidel commented on #364
- waiting for fix in node-wrtc
- we may speed it up by creating repro case (@achingbrain has more context)

[2021-07-12 03:22] Zaba505 opened #369 "bug: make legacy protocol check more specific"
I'm currently deploying the `star-signal` server via google cloud. I don't currently have a custom domain for it so the default generated domain is being used in my project. I named the deployment `libp2p-webrtc-star-signal` which means dns based multiaddrs look something like this: `/dnsaddr/libp2p-webrtc-star-signal.run.app/tcp/443/wss/p2p-webrtc-star`, where the domain is the auto-generated one

[2021-07-23 14:55] lidel commented on #333
@khayliang you need a public IP for letsencrypt cert issuance to work.

For local development you may try self-signed certs, but then you need to import your custom CA to every browser that you use for testing.

For further help try asking at https://discuss.ipfs.io/c/help/ – more eyeballs there :)

[2021-07-23 14:55] #333 closed

[2021-07-30 01:16] zababurinsv opened #372 "How can i connect to browser with webrtc-star from browser ??"
I create two client `Alice` & `Bob`
* [Alice](https://gateway.pinata.cloud/ipfs/QmTTQeRbHGnHeva3Gd11HnxFxMLCaocShhbUHHzu9G5m3N)
* [Bob](https://gateway.pinata.cloud/ipfs/QmNURGFWrLzV379huHVBSUffJUG9qap28jbazhxsfFGSFb/dial.html)

[code]

They see each other

[code]

What i must creating for send message ?

[2021-08-09 12:40] evansrobert opened #374 "Update dependency socket.io"
### Subject of the issue
**libp2p-webrtc-star@0.20.8** requires **engine.io@3.5.0**, which has a security problem (see: [**CVE-2020-36048**](https://snyk.io/vuln/SNYK-JS-ENGINEIO-1056749)):
`libp2p-webrtc-star@0.20.8 ➔ socket.io@2.4.1 ➔ engine.io@3.5.0`

I do not know if this vulnerability actually affects **libp2p-webrtc-star**, but it will show up in security reports about dependencies. Since a

[2021-08-09 14:00] vasco-santos commented on #374
Hello @evansrobert

Thanks for calling this up. `socket-io` `2.3.0` -> `socket-io` `3.0.0` is a breaking change that made us update `libp2p-webrtc-star@0.20.*` to `libp2p-webrtc-star@0.21.*` with https://github.com/libp2p/js-libp2p-webrtc-star/pull/285

This way, the solution is to update to the newer version of `webrtc-star`. If we ship `libp2p-webrtc-star@0.20.9` with updated socket.io, it will

[2021-08-09 14:23] evansrobert commented on #374
@vasco-santos Thanks for the fix in ibp2p-webrtc-star@0.21.*, I notice this release with such patch.
Thanks for your help.

[2021-08-09 14:23] #374 closed

[2021-08-15 23:36] #372 closed

[2021-12-04 17:15] nrz123 opened #388 "how can i get the source peer-id when createListener"
when i use this code:
const ws=new WStar({
    upgrader:{
        upgradeInbound: maConn => maConn,
        upgradeOutbound: maConn => maConn,
        localPeer
    }
})
ws.createListener(socket => {
    //how get peer-id?
    console.log(socket)
})
how can i get the source peer-id?

[2021-12-05 20:33] vasco-santos commented on #388
Hello @nrz123

What is the use case for this? Until the socket is upgraded into a [libp2p connection](https://github.com/libp2p/js-libp2p-interfaces/tree/master/packages/libp2p-connection) you can't access the peer Id

[2021-12-06 14:56] nrz123 commented on #388
i could not upgraded into libp2p-connection because i don't know remotePeer
when i createListener i want to know who dial to me
but when i console.log(maConn.remoteAddr) is undefined

[2022-02-08 16:50] jjperezaguinaga commented on #238
Seems to have already been completed in #274, thanks!

[2022-02-11 01:23] ratik21 opened #402 "SSL & Localhost Development using `docker-compose.yml` does not work"
I was trying to setup a local webrtc-star server using `docker-compose.yml` present in [deployment.md](https://github.com/libp2p/js-libp2p-webrtc-star/blob/master/packages/webrtc-star-signalling-server/DEPLOYMENT.md#ssl--localhost-development) file. But i get an error when i use it:
![image](https://user-images.githubusercontent.com/33264364/153523750-6d181d59-29a4-482c-902e-c1f869c630df.png)
[cod

[2022-02-11 01:35] ratik21 opened #403 "Error: Transport (WebRTCStar) could not listen on any available address"
Following up after [this](https://github.com/libp2p/js-libp2p-webrtc-star/issues/402) issue, i tried to follow this comment to setup a local signalling server :: [https://github.com/libp2p/js-libp2p-webrtc-star/issues/238#issue-651546634](https://github.com/libp2p/js-libp2p-webrtc-star/issues/238#issue-651546634). So using `nginx + certbox` to generate certs, and then using docker-compose file, i

[2022-02-11 01:37] ratik21 commented on #403
Interestingly :: when i deploy using the heroku setup mentioned [here](https://suda.pl/free-webrtc-star-heroku/), the server get's deployed, and the peer discovery works  as well. But the local server mentioned above doesn't work. Trying to understand what's happening here :/

[2022-02-24 22:46] Xendergo opened #409 "__dirname is not defined"
## Description:
When I run the signalling server and visit the address it's hosted on, I get a 500 error in the browser, and the server logs:
[code]
## How to reproduce:
Pull the container:
`docker pull libp2p/js-libp2p-webrtc-star`

Run the container:
`docker run -p 9090:9090 libp2p/js-libp2p-webrtc-star`

Go to `localhost:9090`

[2022-03-04 10:03] toorop commented on #409
Note that even if the index.html cannot be displayed, the signaling process works as expected throught websocket.

[2022-03-23 09:07] mateuszjarzewski commented on #409
Can we have this fixed? This project works nowhere, all examples how to run it fails with error 500.

[2022-03-23 09:11] mateuszjarzewski opened #415 "Unable to run it no matter what I try."
I just followed this tutorial:
https://suda.pl/free-webrtc-star-heroku/
The result is error 500
https://thawing-harbor-54478.herokuapp.com/
Same happends when I try to run it in any other way.
Would be nice to be able to run it.

[2022-03-23 19:32] mateuszjarzewski commented on #238
Running your own webrtc-star node currenctly not possible, build fails, etc. on top of that, seems like ipfs.swam.connect() only accepts webrtc-star addresses when running in browser behind nat. So conectivity for browser is little to non existing atm.

[2022-03-23 19:37] mateuszjarzewski commented on #403
I does not, it crashes when handling very first request.

[2022-03-23 20:17] mateuszjarzewski commented on #415
Would somebody be nice enought to share secret how to run libp2p-websocket-star server? I rly need this ;(

[2022-03-24 08:13] mateuszjarzewski opened #416 "How to actually run the webrtc-star server"
Can someone point to tutorial how to actually run this webrtc-star server?
Everything I tried fails with error 500.

[2022-03-24 08:19] mateuszjarzewski opened #417 "I wish it works."
Is there an alternative to this server? Or maybe someone have like working binary of this server?

[2022-04-04 13:38] fsvieira opened #419 "Connecting nodejs and browser using webrtc-star problem"
Hi,

I am trying to connect browser nodes and nodejs nodes using webrtc-start, I am able to connect
browser-to-browser, nodejs-to-nodejs, but when a browser node connects with a nodejs node and vice-versa, it immediately disconnects

I took the code from here [GitHub - HighCWu/js-libp2p-webrtc-star-example](https://github.com/HighCWu/js-libp2p-webrtc-star-example), I also tried to run [webrtc-sign

[2022-04-04 14:24] stupid-boar opened #420 "ts [ERR_PACKAGE_PATH_NOT_EXPORTED]"
#### version
"@libp2p/webrtc-star": "^1.0.6"

#### code example
[code]

#### Error
Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: No "exports" main defined in node_modules/@libp2p/webrtc-star/package.json
    at new NodeError (node:internal/errors:371:5)
    at throwExportsNotFound (node:internal/modules/esm/resolve:453:9)
    at packageExportsResolve (node:internal/modules/esm/resolve:671:7)
    at resol

[2022-04-05 16:02] mpetrunic commented on #419
Triage notes: @fsvieira Could you provide us with logs when this happens? Please also set `DEBUG=libp2p:*`

[2022-04-05 16:44] fsvieira commented on #419
Hi, this is the log from my nodejs node

`

Starting libp2p...
  libp2p:connection-manager options: {"maxConnections":null,"minConnections":25,"maxData":null,"maxSentData":null,"maxReceivedData":null,"maxEventLoopDelay":null,"pollInterval":2000,"autoDialInterval":10000,"movingAverageInterval":60000,"defaultPeerValue":1,"autoDial":true} +0ms
  libp2p:transports adding WebSockets +0ms
  libp2p:trans

[2022-04-06 07:55] mpetrunic commented on #419
Interesting, `AbortController is not defined`. @fsvieira which nodejs version are you running?

[2022-04-06 08:45] mpetrunic commented on #420
@stupid-boar since `@libp2p/webrtc-star` is esm only library, you should change `module` in your `tsconfig.json` and put `"type": "module"` in your  `package.json` file.

Another option could be to use some nightly build of typescript (haven't tried myself): https://www.typescriptlang.org/docs/handbook/esm-node.html

[2022-04-06 11:04] stupid-boar commented on #420
Thx!) It's work

[2022-04-06 11:04] #420 closed

[2022-04-06 12:49] fsvieira commented on #419
Oh, you are right it was my node version, I was using v14.18.1,  I tested it now with v16.14.0, and it works great.
I completed forget that I add this version as default.
Thank you so much for the help.

[2022-04-06 12:49] #419 closed

[2022-05-09 09:39] mrlp4 commented on #417
It seems like v0.1.4 of signaling server is actually working, but it keeps spamming log with `ReferenceError: __dirname is not defined` messages, which is a bit weird ofc.
But i have my app successfully connecting with star-signaling server while it showing 500 error instead of index.js

[2022-05-10 15:42] mpetrunic commented on #417
@mrlp4 Could you post stacktrace?

[2022-05-10 15:45] mpetrunic commented on #369
@Zaba505 Are you still interested in providing fix?

[2022-05-10 15:48] #417 closed

[2022-05-10 16:02] achingbrain commented on #415
Duplicate of #409

[2022-05-10 16:02] #415 closed

[2022-05-10 16:06] achingbrain commented on #364
This is sort of fixed now, by [adding these lines](https://github.com/libp2p/js-libp2p-webrtc-star/blob/master/packages/webrtc-star-transport/test/node.ts#L18-L20)

More context: https://github.com/node-webrtc/node-webrtc/issues/636#issuecomment-774171409

[2022-05-10 16:06] #364 closed

[2022-05-10 16:06] achingbrain commented on #266
CI for this repo runs on node 16 now - https://github.com/libp2p/js-libp2p-webrtc-star/actions

[2022-05-10 16:06] #266 closed

[2022-05-10 16:07] achingbrain commented on #222
This module doesn't use simple-peer any more, it now uses https://github.com/libp2p/js-libp2p-webrtc-peer

[2022-05-10 16:07] #222 closed

[2022-05-11 06:52] #409 closed

[2022-05-17 15:52] achingbrain commented on #403
@mateuszjarzewski there was a bug that caused a crash with the first request - it was [fixed a week ago](https://github.com/libp2p/js-libp2p-webrtc-star/pull/429), could you please try again with the latest version?

[2022-05-17 18:11] Annamarie2019 opened #431 "Install and Usage code for js-libp2p-webrtc-star"
For [js-libp2p-webrtc-star-signalling-server](https://github.com/libp2p/js-libp2p-webrtc-star/tree/master/packages/webrtc-star-signalling-server), there are 3 issues:

- The code, `> npm install -g @libp2p/webrtc-star-signalling-server' copies the > sign, so you'll get a message about Usage untill the user realizes the > got copied and removes it. Better to not include the >
- Once you realize the

[2022-05-17 19:14] johnnymatthews commented on #431
Those instructions leave out the fact that you've got to clone the repository, `cd` into the correct folder, and then run those commands (without the `>` and `$`).

Here's what I did (`>` denotes the output from each command):

1. Clone the repo:

[code]

2. Move into the directory:

[code]

3. Install the local `@libp2p` package:

[code]

4. Start the webrtc server:

[code]

[2022-05-18 04:10] Annamarie2019 commented on #431
Thanks, @johnnymatthews  I was able to execute 1 and 2, but I got a permissions error again on 3. (Also, please note typo in "nstall")
<img width="911" alt="Error1" src="https://user-images.githubusercontent.com/46230706/168954947-e06b1502-2a21-4fe3-973a-4f236a3a25b5.png">
<img width="633" alt="Logs 2022-05-17 at 9 08 18 PM" src="https://user-images.githubusercontent.com/46230706/168955424-0f8ce3d

[2022-05-21 18:02] #369 closed

[2022-05-24 13:32] johnnymatthews commented on #431
No, this isn't a libp2p issue. It looks like your NPM installation has some funky issues going on. I'd recommend completely uninstalling NPM, and then installing [NVM](https://github.com/nvm-sh/nvm), and managing your NPM installations that way.

[2022-05-24 15:43] wemeetagain commented on #431
Hi @johnnymatthews , thanks for finding shortcomings in the docs
would you be willing to make  a PR that makes the instructions in the README better? :pray: :pray:

[2022-05-24 15:58] johnnymatthews commented on #431
@wemeetagain, for sure! Here's a PR: https://github.com/libp2p/js-libp2p-webrtc-star/pull/435

[2022-06-07 15:56] BigLep commented on #403
@mateuszjarzewski : we're going to resolve since we believe we have fixed the issue per the comment above.  Feel free to reopen if that's not the case.

[2022-06-07 15:56] #403 closed

[2022-07-01 08:15] BaptisteHubert opened #453 "Peers get disconnected when signalling server is stopped"
- **Version of libp2p**: `0.37.3`
- **Version of webrtc-star**: `3.0.0`

- **Platform**: Windows [10 - 10.0.19044](callto:10 - 10.0.19044) Build 19044 and Chrome and Opera (respectively `v103.0.5060.66` and `88.0.4412.53`)

#### Severity: High

#### Description:

We are trying to create a peer-to-peer web application using libp2p to enable browsers to communicate.
As such, we used the example name

[2022-07-06 08:02] amirtgm opened #455 "changing the default stun server"
I used the configs when I create my libp2p node and added my custom turn server to it like this:

[code]
but after a long time of debugging, I found out that this customization is only happening for the listener part.
on the other hand, when a user tries to dial another one, there will be a new instance of simple peer with the default configuration.

I managed to resolve it by adding the configs t

[2022-07-13 07:36] achingbrain commented on #453
I've done a little digging into this, it looks like we [receive an error event](https://github.com/libp2p/js-libp2p-webrtc-star/blob/master/packages/webrtc-star-transport/src/listener.ts#L57-L61) when the signalling server goes away, which then causes us to close the listener and tear down the connections.

It should be more fault tolerant - if the signalling server disconnects the listener should

[2022-09-05 03:03] RonanLabs opened #468 "Missing file index.html"
Hello all, I found that there are missing file (index.html) when running the sample code.

**Environment setting:**
npm 8.11.0
node 16.16.0
@libp2p/webrtc-star-signalling-server ^2.0.2

**Error:**
![螢幕擷取畫面 (153)](https://user-images.githubusercontent.com/109357984/188351713-e750c662-4d65-4c3f-a70f-17a07171ea42.png)

**Sample code:**
![螢幕擷取畫面 (155)](https://user-images.githubusercontent.com/1093579

[2022-09-20 15:54] mpetrunic commented on #468
@RonanLabs Hey there, could you explain to us what are you trying to achieve?

[2022-09-21 05:40] #468 closed

[2022-09-21 06:02] #453 closed

[2022-11-18 10:06] BaptisteHubert commented on #455
Hi @BigLep, since you previously triaged this issue, could you expand on the way it could be pushed forward?
Being in the "maintenance priorities", does that mean that you already pinned down the problem at the core of this issue?

[2022-11-18 22:33] BigLep commented on #455
Hi @BaptisteHubert: Unfortunately I don't expect this issue to get any engagement from the core maintainers in light of the work that is happening with building a robust WebRTC implementation across libp2p implementations: https://github.com/libp2p/specs/pull/412

@p-shahi : I thought we had a work item for clarifying the maintenance posture for webrtc-star and webrtc-direct.  If not would you ple

[2022-11-22 21:21] p-shahi commented on #455
Yes please see the incoming archival notice in the readme: https://github.com/libp2p/js-libp2p-webrtc-star/pull/486
I'll archive this repo shortly